mixin footer(path='')
  footer.container
    .row
      a(href='https://vk.com/namazon')
        img(src=path+'img/socialVk.png' alt='')
      a(href='https://www.facebook.com/groups/namazonclub')
        img(src=path+'img/socialFacebook.png' alt='')
    .row
      .col-12.text-center
        p ©2020 Клуб единоборств для женщин "Намазон" | Дизайн Hurricane Media
        p.social-my
          span Сайт создал Брайвс
          span
            a(href='https://t.me/brightwiths')
              img(src=path+'img/social-telegram-color.png' alt='')
          span 2020
    script(src=path+'js/jquery-3.5.1.min.js')
    script(src=path+'js/bootstrap.js')
    script(src=path+'js/ekko-lightbox.js')
    script(src=path+'js/script.js')